.property-details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.title-location-container{

    margin-top: 30px;
    margin-bottom: 24px;
    color: black;

    @media (max-width: 768px) {
        margin-top: 15px;
    }
}

.property-title {

    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 18px;
    }

}
.property-location{

    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    text-align: left;

    @media (max-width: 768px) {
        font-size: 14px;
    }
}

.host-container {
    margin-top: 24px;

    @media (max-width:768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
        margin-bottom: 16px;
        justify-content: space-between;
    }
}

.name-picture {
    display: flex;
    align-items: center;
    gap: 10px;

    @media(max-width: 768px) {
        align-items: center;
    }

}

.host-name {
    font-size: 15px;
    margin: 0;

    @media(max-width: 768px){
        font-size: 12px;
        align-self: flex-start;
    }
}

.host-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    @media(max-width: 768px) {
        width: 32px;
        height: 32px;
    }
}

.rating-container {
    display: flex;
    margin-top: 24px;
  
    @media (max-width: 768px) {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin-top: 0;
      margin-bottom: 16px;
      justify-content: space-between;
    }
  }

.collapse-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;

    @media(max-width:768px) {

        gap: 20px;
        flex-direction: column;
        margin-bottom: 65px;
    }
}

.collapse-title {

    font-weight: 500;
    font-size: 24px;
    color: white;

    @media (max-width: 768px) {
        font-size: 13px;
      }
    
}

.list-equipement {
    
    list-style-type: none;
}