.property-details {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-location-container{

    margin-top: 30px;
    margin-bottom: 24px;
    color: black;
}

.property-title {

    color: #FF6060;
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    text-align: left;

}
.property-location{

    font-weight: 500;
    font-size: 18px;
    margin-top: 5px;
    text-align: left;
}

.host-container {
    margin-top: 24px;

    @media (max-width:768px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 0;
        margin-bottom: 16px;
        justify-content: space-between;
    }
}

.name-picrure {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;

    @media(max-width: 768px) {
        align-items: center;
    }

}

.host-name {
    font-size: 15px;
    margin: 0;

    @media(max-width: 768px){
        font-size: 12px;
        align-self: flex-start;
    }
}

.host-picture {
    height: 50px;
    width: 50px;
    border-radius: 50%;

    @media(max-width: 768px) {
        width: 32px;
        height: 32px;
    }
}

.collapse-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;

    @media(max-width:768px) {

        gap: 10px;
        display: flex;
        flex-direction: column;
        margin-left: 115px;
    }
}

.collapse-title {

    font-weight: 500;
    font-size: 24px;
    color: white;

    @media (max-width: 768px) {
        font-size: 13px;
      }
    
}