
.card {
 display: flex;
 flex-direction: column;
 justify-content: flex-end;
 min-width: 320px;
 width: 30%;
 margin: 5px;
 margin-top: 33px;
 margin-bottom: 33px;
 
    
   
   



    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 10px;
    }

    h2 {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        align-items: center;
        margin-top: -45px;
        color: white;
        padding-left: 10px;
       

      
    }

    






}