.cards{
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 55px 50px;
    margin-bottom: 46px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 60px;

    @media(max-width: 1400px){
        padding: 0;
        grid-template-columns: 1fr 1fr;
        background-color: #FFFFFF;
        margin-top: 50px;
        margin-bottom: 20px;
    }

    @media(max-width:940px){
        padding: 0;
        grid-template-columns: 1fr;
        background-color: #FFFFFF;
        margin-top: 0px;
        margin-bottom: 20px;
        gap: 20px;
    }
}

.housing{
    position: relative;
    border-radius: 10px;
    height: 340px;
    display: flex;
    align-items: flex-end;
    transition: transform 0.2s;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
        pointer-events: none; /* Permet de cliquer sur les éléments en dessous */
    }


    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }

    h2{
        position: absolute;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        color: #FFFFFF;
        margin: 20px;
         z-index: 1; /* Assure que le texte est au-dessus du dégradé */
    }

    @media(max-width:768px){
        height: 225px;
    }
}