.card-link {
    text-decoration: none;
    color: inherit;
    display: block;
    width: 30%;
    min-width: 320px;
    margin: 5px;
    margin-top: 33px;
    margin-bottom: 33px;
    position: relative;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    position: relative;

    img {
        width: 100%;
        object-fit: cover;
        height: 100%;
        border-radius: 10px;
    }

    h2 {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        position: absolute;
        align-items: center;
        bottom: 10px;
        left: 10px;
        color: white;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 768px) {
    .card-link {
        width: calc(100% - 40px); // Ajustement pour les marges
        height: 255px;
        margin: 15px 20px;
    }

    .card {
        h2 {
            text-align: left;
        }
    }
}