
.collapse-container {
    width: 85%;
    border: none;
    margin-bottom: 30px; // marge entre les collapses
   

    .collapse-title {

        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #FF6060;
        padding: 15px 15px 15px 20px;
        cursor: pointer;
        border-radius: 10px;
        height: 52px; // Hauteur du bouton title

        &:hover {
            background-color: #FF4040;
        }

    }

    .arrow-icon {

        width: 24px;
        transition: transform 0.3s ease;

    }

    .arrow-up {
        transform: rotate(180deg);

    }


    .collapse-description {

        display: flex;
        background-color: #F6F6F6;
        border-radius: 5px;
        transition: max-height 0.3s ease-out;
        text-align: left;
        overflow: hidden;
        line-height: 30px;
       

        &.open{
           padding: 10px 15px 10px 15px; 
        }
    }


}

@media (max-width: 768px) {

    .collapse-container {

        margin-right: 30px;

    }
}