
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;  
    margin: 10px auto 10px auto;
    padding: 20px 0;

}

.nav-header {
    display: flex;
    gap: 57px;
    font-weight: 500;
    font-size: 24px
}

a {
    text-decoration: none;
    color: black;

    &.active {
        text-decoration: underline;
    }
}

.logo {
    width: 210px;
}

@media (max-width: 768px) {

    .nav-header {
        margin-top: 10px;
        font-size: 12px;
        gap: 26px;
    }

    a {
        text-decoration: none;
        color: black;
        text-transform: uppercase;

        &.active {
            text-decoration: underline;
        }
    }

    .logo {
        width: 145px;
        height: auto;
    }

}