.error {
  display: flex;
  flex-direction: column;


  .error-titre {
    
    font-size: 288px;
    color: #ff6060;
    margin-bottom: 12px;
  }

  .error-message {
    
    font-size: 36px;
    color: #ff6060;
    margin: 0px;
  

  }

  .error-link {

    display: flex;
    justify-content: center;
    text-decoration: underline;
    font-weight: 500;
    margin: 180px 0;
    
  }

}

@media (max-width: 768px) {

  .error-titre {

    font-size: 96px;
  }

  .error-message {

    font-size: 18px;
  }

  .error-link {

    margin-bottom: 230px;
  }



}