
.footer {

    display: flex;
    flex-direction: column;
    background-color: black;
    width: 100%;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 15px;
    margin: 10px auto 20px auto;
    

    .logo {
        width: 122px;
    }
    p {
        color: white;
        font-weight: 500;
        font-size: 24px;
    }

}
 @media (max-width: 768px) {
    .footer {
        p {
            font-size: 14px;
        }
    }
 }
  