#root {
 /* display: flex;
  justify-content: center;*/
  max-width: 1440px;
  margin: 0 100px;
  padding: 0;

  @media (max-width: 768px) {
    /* Ajustez les styles pour les écrans plus petits */
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media (max-width: 500px) {
  #root {
    margin-left: 20px;
    margin-right: 20px;
  }
}
