.card-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1240px;
    gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    //margin: 10px auto 20px auto;
   // background-color: #F6F6F6;
    background-color: #F6F6F6;
    border-radius: 25px;
  
}

/*
@media (max-width: 1440px){
    .card-container{
        background-color: red;
        max-width: 830px;
    }
}*/


@media (max-width: 768px){
    .card-container{
        background-color: green;
     /*   padding-left: 50px;
        padding-right: 50px;*/
       
    }
}