.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 15px;
    max-width: 1240px;
    margin: 10px auto 20px auto;
    background-color: #F6F6F6;
    border-radius: 25px;
}

@media (max-width: 768px){
    .cardContainer{
        background-color: white;
        margin: 10px auto 20px auto;
    }
}